
    <header>
        <div class="logo">Pet's Kingdom</div>
        <div class="search">
            <input type="text" name="" id="" class="input-search">
            <i class='bx bx-search '></i>

        </div>
        <ul class="navigation">
            <li><a href="#banner">HOME</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#review">REVIEWS</a></li>
            <li><a href="#contact">CONTACT</a></li>
            <li><a href="#profile">PROFILE</a></li>
            <li><a href="#">LOGIN</a></li>

        </ul>
        <div class="hamburger">
            <i class="fa-solid fa-bars on" id="on"></i>
        </div>
        <div class="alert">
            <ul class="navigation1">
                <i class='bx bxs-x-circle close'></i>
                <li><a href="#banner" class="out">HOME</a></li>
                <li><a href="#shop" class="out">SHOP</a></li>
                <li><a href="#about" class="out">ABOUT</a></li>
                <li><a href="#review" class="out">REVIEWS</a></li>
                <li><a href="#contact" class="out">CONTACT</a></li>
                <li><a href="#profile" class="out">PROFILE</a></li>
            </ul>
            </i>
        </div>
    </header>
