<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchased Product</title>
    <link rel="stylesheet" href="../Purchased_product/style_purchased.css">
</head>

<body>
    <header>
        <div class="logo">Pet's Kingdom</div>
        <ul class="navigation">
            <li><a href="../Pet/index.html">HOME</a></li>
            <li><a href="#shop">SHOP</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#review">REVIEWS</a></li>
            <li><a href="#contact">CONTACT</a></li>
            <li><a href="../ProfileUser/profile.html">PROFILE</a></li>

        </ul>
    </header>

    <section class="about" id="about">
         <div class="title">
            <h2 class="titetext">Purchased Products</h2>
        </div>
        <table border="1">
            <thead>
                <tr>
                    <th>AUTO INCREMENT</th>
                    <th>PRODUCTS</th>
                    <th>PRICE</th>
                    <th>QUANTITY</th>
                    <th>TOTAL</th>
                    <th>TIME</th>
                </tr>
            </thead>
            <tbody id="tbl"></tbody>
        </table>
    </section>

    <script src="../Purchased_product/script_purchased.js"></script>
</body>

</html>